body {
	background: $darkgray;
	color: $darkgray;
	font-size: 18px;
	font-family: $merriweather;
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
}

.container {
	@include outer-container;
	@include pad(0 10px);
}

h1,h2,h3,h4,h5,h6 {
	font-family: $raleway;
	font-weight: 900;
	line-height: 100%;
}

a {
	color: $salmon;
	@include transition (all 200ms ease);
	&:hover {
		color: darken($salmon, 10%);
		text-decoration: none;
	}
}

header, #content {
	background: $white;
}


#title {
	h1 {
		a {
			font-weight: 900;
			color: $salmon;
			text-decoration: none;
			line-height: 60px;
		}
	}
}

nav {
	a {
		font-family: $raleway;
		color: $salmon;
		text-decoration: none;
		text-transform: uppercase;
		@include transition (all 200ms ease);
		&:hover {
			color: $white;
			background: $salmon;
		}

	}
}

#home-posts {
	h2 {
		font-size: 3em;
	}
	li {
		border-bottom: 1px solid $lightgray;
		@include transition (all 200ms ease);
		&:hover {
			background: $lightgray;
			border-bottom: 1px solid $salmon;
		}
		a {
		font-size: 2em;
		font-weight: 900;
		color: $salmon;
		text-decoration: none;
		}
		.post-date {
			font-style: italic;
		}
	}
	
}


article#post-wrapper {
	#post-title {
		text-align: center;
		h2 {
			font-family: $merriweather;
			font-size: 3em;
			line-height: 100%;
			margin: 0;
		}
		.post-date {
			font-style: italic;
		}
	}

	#post {
		p, pre {
			
		}
	}
}

footer {
	color: $white;
	.bio, .social {
		h3 {
			font-size: 2em;
		}
	}
	#social-links {
		li {
			a {
				font-family: $raleway;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
}