body {
	background: $white;
	color: $darkgray;
	font-size: 18px;
	font-family: $raleway;
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
}

.container {
	@include outer-container;
	@include pad(0 10px);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 900;
	line-height: 100%;
}

a {
	color: $salmon;
	@include transition (all 200ms ease);
	&:hover {
		color: darken($salmon, 10%);
		text-decoration: none;
	}
}

header {
	background: $white;
	#home-title {
		font-size: 3em;
		color: $salmon;
	}
	p {
		font-size: 1.25em;
		line-height: 150%;
		text-align: center;
		@include media($mobile) {
			font-size: 1em;
		}
	}
	.btn {
		font-weight: 600;
		text-align: center;
		a {
			display: inline-block;
			padding: .5em 0;
			width: 140px;
			text-decoration: none;
			border: 2px solid $salmon;
			&:hover {
				background: $salmon;
				color: $white;
			}
		}
	}
}







.posts {
	li {
		border-bottom: 1px solid $lightgray;
		@include transition (all 200ms ease);
		&:hover {
			background: $lightgray;
		}
		a {
		font-size: 2em;
		font-weight: 900;
		color: $darkgray;
		text-decoration: none;
		}
		.post-date {
			font-style: italic;
		}
	}
}



article#post-wrapper {
	#post-title {
		text-align: center;
		h2 {
			font-family: $merriweather;
			font-size: 3em;
			line-height: 100%;
			margin: 0;
		}
		.post-date {
			font-style: italic;
		}
	}

	#post {
		p, pre {
			
		}
	}
}

footer {
	background: $darkgray;
	color: $white;
	.social-links {
		a {
			font-size: 2.5em;
			padding: 0 .25em;
		}
	}
	.copyright {
		text-align: center;
		font-size: .75em;
	}
}

footer#blog-footer {
	background: $white;
	color: $darkgray;
	text-align: center;
	font-family: $merriweather;
	font-size: .75em;
	span.amp {
		font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
		font-style: italic;
		font-size: 2em;
		color: $salmon;
		vertical-align: top;
	}
	a {
		color: $darkgray;
	}
}