        <footer>
            <div class='container'>
            	<div class='social-links'>
            		<a href="" title=""><i class="fa fa-twitter"></i></a>
            		<a href="" title=""><i class="fa fa-github"></i></a>
            		<a href="" title=""><i class="fa fa-dribbble"></i></a>
            		<a href="" title=""><i class="fa fa-envelope"></i></a>
            	</div>
							<div class='copyright'>
								<p>&copy; 2013 Jordan Justice | All rights reserved.</p>
							</div>                
            </div><!-- /container -->
        </footer>
                  

    </body>
</html>
