        <footer>
            <div class='container'>
                <div class="bio">
                    <h3>About Jordan</h3>   
                    <p>I'm a designer, developer, and thinker rooted in Toledo, Ohio. Biking, folk music, coffee, a good read, family, and my community is where I find peace.</p>
                </div>
                <div class="social">
                    <h3>Find Me</h3>

                </div>
            </div><!-- /container -->
        </footer>
                  

    </body>
</html>
