        <footer>
            <div class='container'>
            	<div class='social-links'>
            		<a href="http://twitter.com/jordi2108" title="Twitter | Jordan Justice"><i class="fa fa-twitter"></i></a>
            		<a href="http://github.com/jordanjustice/" title="Github | Jordan Justice"><i class="fa fa-github"></i></a>
            		<a href="http://dribbble.com/jordanjustice" title="Dribbble | Jordan Justice"><i class="fa fa-dribbble"></i></a>
            		<a href="mailto:jordan@jordanjustice.me" title="Email | Jordan Justice"><i class="fa fa-envelope"></i></a>
            	</div>
							<div class='copyright'>
								<p>&copy; 2013 Jordan Justice | All rights reserved.</p>
							</div>                
            </div><!-- /container -->
        </footer>
                  
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>                  
        <script type="text/javascript" src="/js/retina-1.1.0.js"></script>
    </body>
</html>
