        <header id="header">
            <div class='container'>
                <div id="title">
                  <h1><a href="/">{{ site.name }}</a></h1>
                </div>
                <nav>
                  <ul>
                    <li><a href="/articles" title="Articles">Articles</a></li>
                    <li><a href="/projects" title="Projects">Projects</a></li>
                  </ul>
                </nav>
            </div><!-- /container -->
        </header><!-- /header -->