---
import Prose from "../components/Prose.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now | Jordan Justice">
  <Prose>
    <h1>Now</h1>
    <h2>Bikes and golf, mostly</h2>
    <h3>🚲</h3>
    <p>
      After years of commuting by bike and involvement in local bike advocacy, a
      lot changed after I started working remotely full-time. Gone were the long
      commutes into the office and I found myself riding significantly less
      miles, even during the early bike boom of COVID. A few years passed and as
      our youngest kid got interested in mountain biking, I found myself doing
      the same, which then led to a rekindling of my pure joy of bikes.
    </p>
    <p>
      All styles, all paces is how you'll find me riding. I've also got in the
      habit of buying beautiful steel 90's mountain bike frames, throwing some
      new parts of them and selling the via Marketplace or gifting them to
      friends.
    </p>
    <h3>⛳️</h3>
    <p>
      What started as a new activity to do during COVID (again), has turned into
      a moderate passion. I would have never guessed how much I love this game,
      nor how awesome it is to be surrounded by a surge of others just
      discovering it. In the handful of years I've been playing, I've been
      fortunate enough to play across multiple states at some unreal courses.
      All while having the <a
        href="https://www.ottawaparkgolfcourse.com/"
        target="_blank"
        rel="noopener noreferrer">country's oldest public course west of NYC</a
      > right around the corner from my home.
    </p>
    <p class="text-xs text-blue-900 bg-blue-50 inline-block p-1 rounded">
      Updated March 21st, 2026, from Toledo, Ohio
    </p>
  </Prose>
</Layout>
