#title {
	h2 {
		font-family: $raleway;
		font-weight: 800;
		a {
			color: $salmon;
			text-decoration: none;
			transition: all 200ms ease;
			-webkit-transition: all 200ms ease;
			-ms-transition: all 200ms ease;
			-o-transition: all 200ms ease;
			&:hover {
				color: darken($salmon, 10%);
			}
		}
	}
}