<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>

            <header id="header">
              <div class='container'>
                <div id="title">
                  <h2><a href="/">{{ site.name }}</a></h2>
                </div>
                <nav>
                  <ul>
                    <li><a href="/projects" title="Blog">Projects</a></li>
                  </ul>
                </nav>
              </div>
              
            </header><!-- /header -->
              
                {{ content }}

            <footer>
                <div class='container'>
                <div class="bio">
                  
                </div>
                <div class="social">
                  
                </div>
              </div>
            </footer>
              

    </body>
</html>
