<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <div class='container'>
            <header id="header">
                <div id="title">
                  <h1><a href="/">{{ site.name }}</a></h1>
                </div>
                <nav>
                  <ul>
                    <li><a href="/blog" title="Blog">Blog</a></li>
                    <li><a href="/projects" title="Projects">Projects</a></li>
                  </ul>
                </nav>
            </header><!-- /header -->
              
                {{ content }}

            <footer>
        
                <div class="bio">
                  
                </div>
                <div class="social">
                  
                </div>
    
            </footer>
        </div><!-- /container -->          

    </body>
</html>
