<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        
        <header id="header">
            <div class='container'>
                <div id="title">
                  <h1><a href="/">{{ site.name }}</a></h1>
                </div>
                <nav>
                  <ul>
                    <li><a href="/blog" title="Blog">Blog</a></li>
                    <li><a href="/projects" title="Projects">Projects</a></li>
                  </ul>
                </nav>
            </div><!-- /container -->
        </header><!-- /header -->
              
            <div id='content'>
                <div class='container'>
                {{ content }}
                </div><!-- /container -->
            </div>

        <footer>
            <div class='container'>
                <div class="bio">
                    <h3>About Jordan</h3>   
                    <p>I'm a designer, developer, and thinker rooted in Toledo, Ohio. Biking, folk music, coffee, a good read, family, and my community is where I find peace.</p>
                </div>
                <div class="social">
                    <h3>Find Me</h3>

                </div>
            </div><!-- /container -->
        </footer>
                  

    </body>
</html>
